@import "tailwindcss/preflight"; /* équivalent de base */
@import "tailwindcss/utilities";
@reference "tailwindcss";

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/work-sans-v24-latin-600.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/work-sans-v24-latin-regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/work-sans-v24-latin-700.woff2') format('woff2');
  font-display: swap;
}

body {
  font-family: 'Work Sans', sans-serif;
}


  .dark .rdtPicker {
    @apply bg-zinc-700 text-gray-100 rounded-b-sm border-gray-600 w-full;
  }
  .light .rdtPicker {
    @apply bg-gray-100 border-gray-400 text-gray-900 rounded-b-sm w-full;
  }
  .dark .rdtPicker td.rdtActive,
  .light .rdtPicker td.rdtActive {
    @apply bg-blue-600 text-white font-semibold;
  }
  
  .dark .rdtPicker td.rdtSwitch {
    @apply text-white cursor-pointer hover:bg-zinc-600
  }
  .light .rdtPicker td.rdtSwitch {
    @apply text-blue-600 cursor-pointer hover:bg-zinc-200
  }
  .dark .rdtPicker th.rdtSwitch {
    @apply text-white cursor-pointer hover:bg-zinc-600
  }
  .light .rdtPicker th.rdtSwitch {
    @apply text-blue-600 cursor-pointer hover:bg-zinc-200
  }
  .dark .rdtPicker span.rdtBtn {
    @apply text-white cursor-pointer hover:bg-zinc-600
  }
  .light .rdtPicker span.rdtBtn {  
    @apply text-gray-600 bg-gray-100 cursor-pointer hover:bg-zinc-200
  }
  .light .rdtPicker div.rdtCount {  
    @apply  bg-gray-100
  }
  .light .rdtPicker div.rdtCounterSeparator {  
    @apply  bg-gray-100
  }
  
  .dark .rdtPicker td.rdtTimeToggle {
    @apply hover:bg-zinc-600
  }
  
  .rdtPicker {
    @apply border border-gray-300 shadow-md bg-white text-gray-600;
    z-index: 50; 
  }
  
  
  .light .rdtPicker td.rdtDay {
    @apply text-gray-800;
  }
  .dark .rdtPicker td.rdtDay {
    @apply text-gray-300;
  }
  .light .rdtPicker td.rdtDay.rdtOld {
    @apply text-gray-400;
  }
  .light .rdtPicker td.rdtDay.rdtNew {
    @apply text-gray-400;
  }
  .dark .rdtPicker td.rdtDay.rdtOld {
    @apply text-gray-500;
  }
  .dark .rdtPicker td.rdtDay.rdtNew {
    @apply text-gray-500;
  }
   
  .rdtPicker td.rdtDay:hover {
    @apply bg-blue-500 text-gray-900 rounded-md;
  }
  
  
  .rdtPicker td.rdtActive {
    @apply bg-blue-600 text-white font-semibold rounded-sm;
  }
  
  
  .rdtPicker .rdtTimeToggle {
    @apply text-blue-600 hover:text-blue-800 dark:text-blue-400;
  }
  
  
  .rdtPicker thead tr:first-child th {
    @apply font-light dark:hover:bg-gray-700;
  }
  
  
  .dark .rdtPicker .rdtCounters {
    @apply dark:bg-zinc-700 ;
  }
  .light .rdtPicker .rdtCounters {
    @apply  bg-neutral-800;
  }




:root {
    font-family: "Work Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}


*::-webkit-scrollbar{
    height: .3rem;
    width: 10px !important;
}
  
*::-webkit-scrollbar-track {
    background-color: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 3px;
}
  
*::-webkit-slider-thumb {
    background-color: #2c3a4d;
    appearance: none;
}
*::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}

.leaflet-control-zoom { margin-top: 60px; }
.leaflet-image-layer {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 9999s ease-in-out 0s;
  }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}


select {
  appearance: base-select;
}



